%btn {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 5px;
    text-decoration: none;

    &:hover {
        transform: scale(.98);
    }
}

.btn-primary {
    @extend %btn;
    background-color: lighten(red, 30%);
    background-color: var(--accent);
    color: var(--txt);
}

.btn-secondary {
    @extend %btn;
}