@mixin flex-container-x {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-container-y {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}



.l-header {
    width: 100%;
    margin-inline: auto;
    border-bottom: .5px solid var(--gray-4);
    background-color: var(--gray-3);
    padding-block: .5rem;

    @include flex-container-x;
}

.l-header__logo {
    margin-left: 1rem;
    width: 70px;
}

.l-header__nav {
    margin-right: 1.5rem;

    @include flex-container-x;
}

.l-theme-switcher {
    display: flex;
    margin-left: 1.5rem;
}



.l-main {
    // max-width: 1200px;
    width: min(100% - 2rem, 50rem);
    /*800px */
    width: min(100% - 2rem, 75rem);
    /*1200px */
    margin-inline: auto;
    padding: 1.5rem 0.5rem 5rem;
}

.l-footer {
    width: 100%;
    margin-inline: auto;

    text-align: center;
    padding: 1rem 0;
    border-top: .5px solid var(--gray-4);
    background-color: var(--gray-2);

}

/* sticky footer */

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    /* damit erstreckt sich main ueber die gesamte verfuegbare hoehe */
}

/* sticky footer */