---
title: "Blog"
layout: "base.njk"
eleventyNavigation:
  key: blog
  title: Blog
  order: 4
---
<h1>{{title}}</h1>

<div class="card__container">
  {%- for post in collections.post -%}
  <div class="card">

    <div class="card__header"> 
    <a href="{{ post.url | url }}"><h2>{{ post.data.title }}</h2></a>
    </div><!-- card__header-->

    <div class="card__description">
    <p>
    {{ post.data.inhalt }}
    </p>
    <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}" class="{{ post.data.imageTitle  }}" />
    </div><!-- card__description -->

    <div class="card__link">
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    </div><!-- card__link -->

    </div><!-- card -->
    {%- endfor -%}

</div><!-- card__container -->
